.git
.gitignore
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.env
.env.local
node_modules
dist
build
target
*.log
.classpath
.project
.settings
.factorypath
*.jar
*.war
README.md
docker-compose.yml
.docker
.dockerignore
